<h2>	
	<span class="filter">
		<%= sort_tab 'Najnowsze', 'newest' %>
		<%= sort_tab 'Dyskusje dnia', 'day' %>
		<%= sort_tab 'Tygodnia', 'week' %>
		<%= sort_tab 'Miesiąca', 'month' %>
	</span>
</h2>

<%= render :partial => @stories %>
<%= will_paginate @stories %>