<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
   
<html xmlns="http://www.w3.org/1999/xhtml" lang="pl">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>reBlip (BETA)</title>
	<meta name="viewport" content="width=800" />
	<%= stylesheet_link_tag 'ui', 'facebox' %>
	<%= javascript_tag "window._token = '#{form_authenticity_token}'" %>
	<%= javascript_include_tag 'jquery.min.js', 'rails', 'facebox', 'application' %>

</head>
<body>
	<div class="wrapper">
		<div class="header">
			<% form_tag root_path, :id => "search_form", :method => :get do %>
				<%= text_field_tag "query", params[:query] %>
				<%= submit_tag "Szukaj" %>
			<% end %>
			<h1>
				<%= link_to 'reBlip', root_path %>
				<sup>BETA</sup><span> - czyli dyskusje na <a href="http://blip.pl">blip.pl</a></span>
			</h1>
		</div>
		
		<div class="content">
			<%= yield %>
		</div>
		
		<div class="footer">
			reBlip <sup>BETA</sup> &copy; 2009. <span class="right">Aktualna wersja: 0.2.1</span>
		</div>
	</div>
	<script type="text/javascript">
	var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
	document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
	</script>
	<script type="text/javascript">
	try {
	var pageTracker = _gat._getTracker("UA-11469054-2");
	pageTracker._trackPageview();
	} catch(err) {}</script>
</body>
</html>